<div class="container">
  <div class="container-info medic-area">
    <img src="../../../assets/224861261.png" alt="" class="medic-img" />
    <div class="medic-infos">
      <p>Ivirson Daltro</p>
      <p>CRM/SC: 123456</p>
      <p class="especialidade">Otorrinolaringologista</p>
    </div>
  </div>
  <div class="container-info hospital-area">
    <div class="hospital-address-area">
      <p class="hospital-name">Hospital Santa Catarina</p>
      <p>Av. Paulista, 200, Bela Vista</p>
    </div>
    <div class="address-icon">
      <i class="fa-solid fa-location-dot"></i>
    </div>
  </div>
  <div class="container-info time-area">
    <div class="times">08:00</div>
    <div class="times">09:00</div>
    <div class="times">10:00</div>
    <div class="times notempty">11:00</div>
    <div class="times">13:00</div>
    <div class="times notempty">14:00</div>
    <div class="times notempty">15:00</div>
    <div class="times">16:00</div>
    <div class="times">17:00</div>
    <div class="times notempty">18:00</div>
  </div>
</div>
