<div class="container">
  <div class="container-info medic-area">
    <img [src]="DoctorDetails.photoUrl" alt="" class="medic-img" />
    <div class="medic-infos">
      <p>{{ DoctorDetails.name }}</p>
      <p>CRM: {{ DoctorDetails.CRM }}</p>
      <p class="especialidade">{{ DoctorDetails.specialty }}</p>
    </div>
  </div>
  <div class="container-info hospital-area">
    <div class="hospital-address-area">
      <p class="hospital-name">{{ DoctorDetails.hospital }}</p>
      <p>{{ DoctorDetails.address }}</p>
    </div>
    <div class="address-icon">
      <i class="fa-solid fa-location-dot"></i>
    </div>
  </div>

  <div class="container-info time-area">
    @for (time of availableTimes; track $index) {

    <button
      class="times"
      [ngClass]="{ notempty: isTimeAvailable(time) }"
      [disabled]="isTimeAvailable(time)"
      (click)="!isTimeAvailable(time) && OnTimeSelection(time)"
    >
      {{ time }}
    </button>
    }
  </div>
</div>
