<div class="welcome-container">
  <h1 class="title">Seja bem vindo, Paciente</h1>

  <div class="banner-area">
    <img
      src="../../../assets/banner desktop.png"
      alt="Banner"
      class="banner-image banner-desktop"
    />
    <img
      src="../../../assets/banner-mobile.png"
      alt="Banner"
      class="banner-image banner-mobile"
    />
  </div>

  <div class="buttons-container">
    <button class="action-button schedule" [routerLink]="['/schedule']">
      <i class="fa-solid fa-calendar-plus"></i>
      Marcar consulta
    </button>
    <button class="action-button view" routerLink="/my-appointments">
      <i class="fa-solid fa-calendar-check"></i>
      Ver suas consultas
    </button>
  </div>
</div>
