<div class="bg">
  <article class="login">
    <h2 class="login-title">Bem vindo a rede Ada Appointment</h2>
    <form class="form">
      <div class="login-user">
        <img src="/assets/user.svg" alt="" srcset="" class="login-user-image" />
        <p class="login-user-text">Login</p>
      </div>
      <div class="login-input">
        <div class="login-data">
          <label for="email">Digite seu e-mail</label>
          <input type="email" id="email" />
        </div>

        <div class="login-data">
          <label for="password">Digite seu e-mail</label>
          <input type="password" id="password" />
        </div>
      </div>
      <button class="access">ENTRAR</button>
    </form>
    <div class="register">
      <p>Não tem conta? <span class="register-link">Crie uma aqui</span></p>
    </div>
  </article>
</div>
