<div class="container">
  <div class="medic-area">
    <img src="../../../assets/224861261.png" alt="" class="medic-img" />
    <div class="medic-infos">
      <p>Ivirson Daltro</p>
      <p>CRM/SC: 123456</p>
      <p class="especialidade">Otorrinolaringologista</p>
    </div>
  </div>

  <div class="hospital-area">
    <div class="hospital-address-area">
      <div class="hospital-address-infos">
        <p class="especialidade">Hospital Santa Catarina</p>
        <p>Av. Paulista, 200, Bela Vista</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="hospital-date-area">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>Horário</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-line">26/11/2024</td>
              <td class="table-line">12:00</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="modality-area">
    <p>Olá mundo</p>
  </div>

  <div class="buttons-area">
    <button>Agendar</button>
    <button>Cancelar</button>
  </div>



</div>
