<div class="container">
  <div class="medic-area">
    <img src="" alt="" class="medic-img" />
    <div class="medic-infos">
      <p>{{ appointment.doctor.name }}o</p>
      <p>CRM: {{ appointment.doctor.CRM }}</p>
      <p class="especialidade">{{ appointment.doctor.specialty }}</p>
    </div>
  </div>

  <div class="hospital-area">
    <div class="hospital-address-area">
      <div class="hospital-address-infos">
        <p class="especialidade">{{ appointment.doctor.hospital }}</p>
        <p>{{ appointment.doctor.address }}</p>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
      </div>
    </div>
    <div class="hospital-date-area">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table-line">
              {{ appointment.date }}
            </td>
            <td class="table-line">{{ appointment.time }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modality-area">
    <div>
      <p>Modalidade</p>
      <div class="modality-type">
        <div class="circle-status-type"></div>
        <p>{{ appointment.doctor.modalty }}</p>
      </div>
    </div>
    <div class="status">
      <p>Status</p>
      <div class="modality-status">
        <div class="circle-status-status"></div>
        <p>{{ appointment.status }}</p>
      </div>
    </div>
  </div>

  <div class="buttons-area">
    <button class="button btn-cancelar" (click)="onCancel()">
      <i class="fa-solid fa-circle-xmark"></i>
      <p>Cancelar</p>
    </button>
    <button class="button btn-edit" (click)="onEdit()">
      <i class="fa-solid fa-pen-to-square"></i>
      <p>Editar</p>
    </button>
  </div>
</div>
