.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #004186;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar-active {
    right: 0;
}

.sidebar-content {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 89px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
}

.sidebar-button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}