/* You can add global styles to this file, and also import other style files */
:root {
  --blue-intense: #004186;
  --white: #fff;
  --blue-easy: #1d73ca;
  --red: #fe1a1a;
  --orange: #df8d2c;
  --bg: #ebebeb;
  --gray-intense: #d9d9d9;
  --gray-easy: #ebe9e9;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
